h1{
    color: red;
}
h2{
    background-color: cadetblue;
    color: black;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}
span{
    text-align: center;
}